<span><h3>Liczba Kursów: 3</h3></span>
<ol>
  <li>Programowanie w C#</li>
  <li>Angular dla poczatkujacych</li>
  <li>Kurs Django</li>
</ol>
<span><p>Imie i Nazwisko</p></span>
<div class="input-group mb-3">
  <input [(ngModel)]="daneKursanta" type="text" class="form-control">
</div>
<span><p>Numer kursu</p></span>
<div class="input-group mb-3">
  <input [(ngModel)]="numerKursu" type="number" class="form-control">
</div>
<button class="btn btn-primary" (click)="Add()">Zapisz do kursu</button>
<p>two-way-binding  </p>
<p>{{daneKursanta}}</p>